* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    width: 350px;
    height: 450px;
    background-color: grey;
    margin: 100px auto;
    padding-top: 20px;
}
.input {
    /* margin: 40px auto; */
    align-self: flex-start;
    width: 100%;
    padding: 0;
}
.options {
    display: flex;
    width: 100%;
}
#inputField {
    background-color: white;
    margin: 0 auto;
    width: 80%;
    height: 30px;
    text-align: end;
}
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */
.numbers {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    width: 75%;
    /* height: 50%; */
}
button {
    cursor: pointer;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    /* height: 40px; */
    aspect-ratio: 3/2;
    border-radius: 5px;
}
button:hover {
    border: 3px solid black;
}
.number {
    
    width: 33.33%;
    /* height: 33.333%; */
    
}
.number.zero {
    /* width: 66.666%;
    aspect-ratio: 3/1!important;
    margin-right: auto; */
}
#deleteAll {
    /* height: 100%!important; */
    /* width: 25%; */
    padding: 0;
}
.operations {
    display: flex;
    flex-direction: column;
    width: 25%;
}
.option, .operation {
    /* width: 25%; */
    padding: 0;
}
.option {
    width: 25%;
}
.opearation {
    width: 100%;
}